* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: 'Magoat';
  font-style: normal;
  font-weight: 100;
  src: url('/libs/Magoat.ttf') format('truetype');
}

html {
    max-width: 100vw;
    height: 100vh;
    background-image: url("libs/backdropdark.png");
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: auto;
}

main section {
    scroll-margin-top: 120px;
}

header {
    overflow-y: hidden;
    z-index: 1;
    top: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1em 1em;
}

nav {
    background-image: url("libs/backdrop.png");
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 80px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #F5F5F5;
    font-size: 1.5em;
    font-family: Magoat;
    padding: 0.5em;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: solid transparent 3px;
    text-shadow: rgba(32, 32, 32, 0.5) 0 2px 10px;
    transition: 0.2s ease-in-out;
}

nav a:hover {
    border-bottom: solid rgba(255,255,255,0.5) 3px; 
}

nav a.active {
    border-bottom: solid white 3px; 
}

#home-button {
    background-color: transparent;
    height: 120px;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

#home-button img {
    width: 100%;
    height: 100%;
}



h1 {
    font-family: Magoat;
    color: white;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: white;
    font-size: 1.2em;
    padding-bottom: 1em;
}

#feature a {
    background-color: rgba(1, 1, 1, 0.7);
    padding: 1.5em;
    text-decoration: none;
    color: #F5F5F5;
    font-family: Magoat;
    border-radius: 1em;
    transition: ease-in-out 0.2s;
    transform: scale(1.0);
    margin-top: 1em;
}

#feature a:hover {
    background-color: rgba(1, 1, 1, 0.8);
    transform: scale(1.05);
}

#feature {
    display: flex;
    font-family: Magoat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-image: url("libs/2026backdrop.png");
    background-size: 100%;
}

#feature h1 {
    color: #f5f5f5;
    font-size: 7em;
    text-shadow: rgba(0, 0, 0, 0.7) 0em 0em 0.5em;
}

#feature h2 {
    color: white;
    text-shadow: rgba(0, 0, 0, 1) 0em 0em 0.5em;
    font-weight: 100;
}


#feature img {
    height: 300px;
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

#feature img:hover {
    height: 300px;
    transform: scale(1.05);
}

.panel {
    width: 1200px;
    margin: 5em auto;
    padding: 3em;

}

#event-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
}


.event-panel {
    width: 100%;
    height: 200px;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.event-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.event-panel:hover img {
    transform: scale(1.05);
}

/* Dropdown-specific styling */
.event-dropdown {
    width: 70%;
    margin: 2em auto;
    position: relative;
    z-index: 99;
}

.event-dropdown .selected {
    cursor: pointer;
}

.event-dropdown .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.8);
    padding: 1em;
    margin-top: 1em;
    border-radius: 2em;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 10;
}

.options {
    overflow-y: auto;
    height: 600px;
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.4) rgba(255,255,255,0.1);
}

.staff-panel {
    background-color: rgba(255,255,255,0.3);
    width: 30%;
    margin-top: 3em;
    padding: 2em;
    border-radius: 2em;
    backdrop-filter: saturate(500%);
    box-shadow: inset 0 0 2em 0 white;
    transform: scale(1.0);
    transition: ease-in-out 0.2s;
}

.staff-panel:hover {
    transform: scale(1.02);
}

#staff-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#staff-team .staff-panel h1 {
    font-size: 1.3em;
    padding-top: 0.5em;
    padding-bottom: 0;
    letter-spacing: 0.2ch;
    text-align: left;
}

#staff-team .staff-panel p {
    font-size: 1.2em;
    padding: 0;
    text-align: left;
}

.staff-panel img {
    width: 100%;
    border-radius: 2em;
}

#welcome {
    margin: 2em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#welcome section {
    margin: 0 2em;
}

#welcome p {
    padding: 0.5em 0;
    font-size: 1.2em;
}

.panel h1,
#the-games h1,
#staff-team h1,
#event-stats h1 {
    text-align: center;
    letter-spacing: 0.5em;
    text-shadow: rgba(0, 0, 0, 0.7) 0em 0em 0.5em;
    font-size: 3em;
    padding-bottom: 0.5em;
}

.panel h2 {
    font-family: Magoat;
    color: white;
    letter-spacing: 0.1em;
    font-size: 1.8em;
}

.panel img {
    width: 100%;
    border-radius: 1em;
}

.panel figure {
    position: relative;
    width: 100%;
}

.panel figure figcaption {
    text-align: left;
    width: 100%;
    background-image: linear-gradient( rgba(0,0,0,0), rgba(44, 44, 44, 0.5), #202020);
    border-end-end-radius: 1em;
    border-end-start-radius: 1em;
    padding: 1em;
    padding-top: 4em;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 100;
    color: white;
    font-size: 1em;
}

#event-stats {
    padding-top: 5em;
}

#event-stats p {
    font-size: 2em;
    font-family: Magoat;
    margin-top: 2em;
    padding-bottom: 0;
    text-align: center;
}

#the-games, #staff-team, #event-stats {
    width: 1200px;
    margin: 5em auto;
}

#game-desc {
    padding: 2em 5em 0 5em;
    text-align: center;
}

.game-panel {
    width: 100%;
    height: 340px;
    padding: 3em;
    margin: 2.5em auto;
    border-radius: 2em;
    backdrop-filter: saturate(500%);
    box-shadow: inset 0 0 2em 0 white;
    position: relative;
}

#the-games .game-panel:nth-child(even) .game-panel-info {
    top: 0;
    left: 0;
    border-end-start-radius: 2em;
    border-start-start-radius: 2em;
}

#the-games .game-panel:nth-child(odd) .game-panel-info{
    top: 0;
    right: 0;
    border-start-end-radius: 2em;
    border-end-end-radius: 2em;
    text-align: right;
}


.game-panel-info {
    max-width: 50%;
    height: 100%;
    padding: 3em;
    position: absolute;
    backdrop-filter: blur(1em);
    text-shadow: 0 0 0.5em black;
}

.game-panel img {
    height: 150px;
    width: auto;
}

#the-games .game-panel:nth-child(even) .game-panel-info .new {
    top: 1em;
    left: 1em;
    font-family: Magoat;
    font-size: 1em;
    letter-spacing: 0.1em;
    background-image: linear-gradient(rgb(255, 64, 64), rgb(255, 101, 101));
    width: min-content;
    height: min-content;
    padding: 0.4em;
    padding-left: 0.6em;
    position: absolute;
    text-align: center;
    border-radius: 1em;
}

#the-games .game-panel:nth-child(odd) .game-panel-info .new {
    top: 1em;
    right: 1em;
    font-family: Magoat;
    font-size: 1em;
    letter-spacing: 0.1em;
    background-image: linear-gradient(rgb(255, 64, 64), rgb(255, 101, 101));
    width: min-content;
    height: min-content;
    padding: 0.4em;
    padding-left: 0.6em;
    position: absolute;
    text-align: center;
    border-radius: 1em;
}

#bridge-builders {
    background-image: url("libs/bridgebg.png");
}

#colour-dash {
    background-image: url("libs/colourdashbg.png");
    background-position-y: -25em;
}

#craftalot {
    background-image: url("libs/craftalotbg.png");
    background-position-y: -10em;
}

#gubgame {
    background-image: url("libs/gubbg.png");
    background-position-y: -10em;
}

#slime-golf {
    background-image: url("libs/slimebg.png");
    background-position-y: -15em;
}

#sg {
    background-image: url("libs/sgbg.png");
    background-position-y: -15em;
}

#zoomo-go {
    background-image: url("libs/zoomobg.png");
    background-size: 100%;
    background-position-y: -10em;
}

#crumble-clash {
    background-image: url("libs/crumblebg.png");
    background-size: 100%;
    background-position-y: -10em;
}

#push-point {
    background-image: url("libs/pushpointbg.png");
    background-size: 100%;
    background-position-y: -10em;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2.7em;
    background-color: rgb(0, 34, 48);
    height: 250px;
}

footer p {
    font-family: Magoat;
    font-weight: 100;
    padding: 0.5em;
    font-size: 1.5em;
    letter-spacing: 0.2em;
}

footer ul {
    padding-top: 1em;
    list-style-type: none;
}

#sitemap li {
    margin: 0.2em;
}

footer a {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    font-family: Magoat;
    color: white;
    text-decoration: none;
}

#sitemap a:hover {
    color: rgb(255, 255, 57);
}

#legal-info {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

#legal-info p {
    font-size: 1em;
}

#legal-info img {
    width: 50%;
    margin-left: auto;
}

.owner-colour {
    backdrop-filter: hue-rotate(200deg) saturate(700%);
}

.manager-colour {
    backdrop-filter: hue-rotate(250deg) saturate(700%);
}

.music-colour {
    backdrop-filter: hue-rotate(60deg) saturate(700%);
}


#article-body {
    width: 1200px;
    margin: 0 auto;
    padding: 5em 0;
}

#article-title {
    font-size: 3.5em;
    font-weight: 100;
}

#article-info p {
    padding: 1.5em 0;
    font-size: 1.5em;
}

#article-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#article-info figure {
    width: 70%;
    margin: 0 auto;
}

figure img {
    width: 100%;
}

#article-info figcaption {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-style: italic;
    color: white;
    font-size: 1.2em;
    padding: 0.5em;
    text-align: center;
    text-shadow: black 0 0 0.5em;
}

/* Stats Sheets */
#leaderboards {
    text-shadow: rgba(0, 0, 0, 0.3) 0em 0em 0.5em;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5em auto;
    padding: 2em;
    background-color: rgba(255,255,255,0.3);
    border-radius: 2em;
    backdrop-filter: saturate(500%);
    box-shadow: inset 0 0 2em 0 white;
    transform: scale(1.0);
    transition: ease-in-out 0.2s;
    font-family: Magoat;
    text-align: left;
    color: white;
    font-size: 0.8em;
}

#leaderboards img {
    padding-left: 5px;
}

#leaderboards h2 {
    font-size: 3em;
    margin-bottom: 0.5em;
    text-align: center;
    color: white;
}

#leaderboards .tables {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* two columns for team/player */
    font-size: 1.2em;
    gap: 1rem;
}

#leaderboards .tables article {
    max-height: 690px;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

#leaderboards .scores-list {
    overflow-y: auto;
    box-sizing: border-box;
    padding-right: 1em;

    /* Firefox scrollbar */
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.4) rgba(255,255,255,0.1);
}

#leaderboards .scores-list .row {
    margin: 0.4em 0;
}


#leaderboards article {
    background-color: rgba(255,255,255,0.3);
    border-radius: 2em;
    padding: 2em;
    box-shadow: inset 0 0 2em 0 white;
    transition: ease-in-out 0.2s;
}

#leaderboards article h3 {
    margin-bottom: 1em;
    font-size: 1.5em;
    text-align: center;
}

#leaderboards .row {
    display: grid;
    grid-template-columns: 40px 37px 1fr 100px; /* # | Name | Points */
    padding: 1em;
    background-color: rgba(0,0,0,0.3);
    border-radius: 1em;
    margin-top: 0.4em;
    align-items: center;
}

#leaderboards .header {
    grid-template-columns: 40px 1fr 100px; /* # | Name | Points */
}

#leaderboards .team-leaderboard .row {
    grid-template-columns: 40px 1fr 148px 100px;
}

#leaderboards .team-leaderboard .header {
    grid-template-columns: 40px 1fr 100px;
}

#leaderboards .team-leaderboard .header div:nth-child(3) {
    text-align: right; /* points column */
}


#leaderboards .row.header {
    background-color: transparent;
}

#leaderboards .player-leaderboard .row div:nth-child(3) {
    padding-left: 0.5em;
}

#leaderboards .player-leaderboard .row div:nth-child(4), 
#leaderboards .team-leaderboard .row div:nth-child(4) {
    text-align: right; /* points column */
}